td {
    padding: 10px;
}

h1 {
    color: black;
    font-weight: lighter;
}

h3 {
    color: white;
    background-color: dodgerBlue;
    font-weight: normal;
    text-align: center;
}

h5 {
    color: dodgerBlue;
    font-weight: normal;
}
